<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.boobuser.mapper.UserMapper">
    <select id="findByName" resultType="com.example.boobuser.model.User" >
        select * from users where username = #{name}
    </select>

    <insert id="save">
        insert into users (username, password) values (#{name}, #{password})
    </insert>

    <select id="findIdByName" resultType="Long" >
        select id from users where username = #{name}
    </select>

    <select id="findPasswordByName" resultType="String" >
        select password from users where username = #{name}
    </select>


</mapper>